.main{
    height: 90vh;
    background-color: #F5F3FF;
}

.box{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    color:  #4A4A68;
    margin-top: 2rem;
}

.h2{
   margin-bottom: .5rem;
    color: black;
    font-size: 2rem;
}

.paragraph{
    font-size: 1.5rem;
    line-height: 1.6rem;
}


.person {
    height: 150px;
    border-radius: 10px;
}

.select{
    margin: 2rem 0rem;
    display: flex;
}

.upload {
    width: 22rem;
    height: 14rem;
    border: .1rem solid #6a0dad;
    border-radius: 5px;
    font-size: 16px;
    color: #6a0dad;
    cursor: pointer;
  }

  .uploaded{ 
    width: 22rem;
    height: 14rem;
    border: .3rem solid #FF0000;
    border-radius: 5px;
    font-size: 13px;
    color: #6a0dad;
    cursor: pointer;
    z-index: 0;
    position: relative;
  }

  .dictected{
    z-index: 1;
    position: absolute;
    top: 1%;
    left: 2%;
    color: white;
    background-color: #FF0000;
    padding: .2rem .4rem;
    padding-left: 1rem;
    border-radius: .5rem;
  }

  .upload input[type="image"] {
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .button{
    padding: 1rem 1.2rem;
    background-color: #755AE2;
    color: white;
    border-radius: .5rem;
    font-size: 1.2rem;
    border: none;
    outline: none;
    cursor:   pointer;
}

.img{
    height: 100%;
    width: 100%;
}

  
@media only screen and (max-width: 32.25em) {
  .main{
    height: 70vh;
  }

  .box{ 
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    color:  #4A4A68;
    margin-top: 2rem;
}
}